{% extends 'restaurant/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Order ID: {{ order.pk }}</h1>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Customer Information</h5>
                    <p class="card-text"><strong>Name:</strong> {{ order.name }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ order.email }}</p>
                    <p class="card-text"><strong>Phone Number:</strong> {{ order.phone_number }}</p>
                    
                    <h5 class="mt-4">Delivery Address</h5>
                    <p class="card-text"><strong>Street:</strong> {{ order.street }}</p>
                    <p class="card-text"><strong>City:</strong> {{ order.city }}</p>
                    <p class="card-text"><strong>State:</strong> {{ order.state }}</p>
                    <p class="card-text"><strong>Zip Code:</strong> {{ order.zip_code }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Order Status</h5>
                    <p class="card-text">
                        <strong>Payment Status:</strong>
                        {% if order.is_paid %}
                            <span class="text-success"><i class="fas fa-check-circle"></i> Paid</span>
                        {% else %}
                            <span class="text-danger"><i class="fas fa-times-circle"></i> Not Paid</span>
                        {% endif %}
                    </p>
                    <p class="card-text"><strong>Total Amount:</strong> ${{ order.price }}</p>
                    <p class="card-text"><strong>Order Date:</strong> {{ order.order_date }}</p>
                    
                    {% if order.is_shipped %}
                <p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Order Has Been Shipped!</span></p>
                {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Mark as Shipped</button>
                </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}