{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>We are dedicated to revolutionizing the food ordering experience through technology. Our Multi-Restaurant Online Food Ordering System, built on the robust Django framework and enhanced with AI, offers a streamlined solution for all stakeholders in the online food ecosystem. With a strong focus on usability, scalability, and efficiency, our platform empowers administrators to manage food categories effortlessly while giving restaurants the tools to register, add delivery personnel, and curate diverse menus.</p>
            
            <p>Our mission is to create an inclusive and versatile platform where multiple restaurants can connect with customers in an efficient and seamless way. By supporting various user roles—from administrators and restaurants to delivery personnel and customers—we are committed to enhancing the online food ordering experience, making it simpler, faster, and more accessible for everyone involved.</p>
        </div>
    </div>
</div>
{% endblock content %}
